body {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    top: 20px;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #333;
}
.form-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.form-container input, 
.form-container select, 
.form-container textarea {
    margin-bottom: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.form-container button:hover {
    background-color: #45a049;
}
.cart-items {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 15px;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.total {
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
}
.back{
    position:absolute;
    left: 20px;
    top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    z-index: +1;
}