body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    position: absolute;
}


/* header */
.header {
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    padding: 5px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e1e1e1;
    z-index: 6;
}

.nav-bar-logo img {

    width: 120px;
    height: auto;
}



.category select {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    transition: border-color 0.3s;
}

.category select:focus {
    border-color: #007bff;
    outline: none;
}

.search-container {
    flex: 1;
}

#search-btn {
    flex: 0.3;
}

.search {
    flex: 1;
    display: flex;
    margin-left: 20px;
}

.search input[type="text"] {
    flex: 2;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.search input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

.search button {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search button:hover {
    background-color: #0056b3;
}

#search-results {
    margin-top: 10px;
}


/*slide bar*/

.side-bar {
    position: fixed;
    left: 0;
    top: 12.1%;
    width: 90px;
    bottom: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #e1e1e1;
    z-index: 5;
}

.side-bar-icon {
    margin: 15px 0;
}

.side-bar-icon a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.side-bar-icon i {
    margin-right: 10px;
    color: #007bff;
}

.side-bar-icon a:hover {
    color: #0056b3;
}



/*product container*/

.product-section-item-wrapper {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    gap: 2px;
    flex-wrap: wrap;
    margin: 50px;
    margin-top: 100px;

}

.product-item {
    width: 250px;
    max-width: 280px;
    border-radius: 7px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
}

.product-image {
    background: transparent;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
   
}

.product-image img {
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: auto;
    border-radius: 10px;
}

.product-text {
    text-align: center;
    padding: 20px;

}

.product-title {
    color: rgb(50, 50, 50);
    font-size: 18px;
    font-weight: 500;
}

.product-purchace {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}

.product-price {
    color: rgb(65, 105, 255);
    font-size: 18px;
    font-weight: 500;
}

.add-to-cart {
    padding: 7px 21px;
    border-radius: 7px;
    font-size: 16px;
}

.blue-btn {
    background-color: rgb(65, 105, 255);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.blue-btn:hover {
    background-color: rgb(102, 136, 240);
}